POSTGRES_PASSWORD=changeme
REDIS_PASSWORD=changeme
VAULT_TOKEN=root
ETH_NODE_URL=wss://mainnet.infura.io/ws/v3/YOUR_KEY
TRON_NODE_URL=https://api.trongrid.io
KAFKA_BROKER=kafka:9092
SECRET_NOISE_STATIC_KEY=
HCAPTCHA_SECRET=
HCAPTCHA_SITE_KEY=
